apiVersion: v1
kind: Pod
metadata:
  name: "tsb-tester"
  labels:
    app.kubernetes.io/name: "tsb-tester"
  annotations:
    marketplace.cloud.google.com/verification: test
spec:
  serviceAccountName: ${service_account}
  containers:
  - name: tester
    image: "${testerImage}"
    env:
    - name: REPO
      value: $tctlRepo
  restartPolicy: Never
